<!DOCTYPE html>
<html>
  <head>
<!--
    <title>Kanchi Linux Users Group | <%= @title %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
     <%= stylesheet_link_tag 'blueprint/ie' %>
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  </head>
  <body>
     <div class="container">
	<%= image_tag("logo.png", :alt=> "Sample App", :class => "round") %>
	<nav class="round">
	<ul>
	<li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Help", '#' %></li>
            <li><%= link_to "Sign in", '#' %></li>
          </ul>
        </nav>
     </header>
-->

   <title><%= @title %></title>
     <%= csrf_meta_tag %>
     <%= render 'layouts/stylesheets' %>
   </head>
   <div class="container">
	<%= render 'layouts/header' %>
    <section class="round">
    <%= yield %>
</section>
	<%= render 'layouts/footer' %>
</div>
  </body>
</html>
